.side-menu {
    height: 100vh;
    width: 25vw;
    overflow-y: scroll;
    overflow-x: hidden;
    &__logo-box {
        display: inline-block;
        width: 100%;
        border-bottom: 1px solid rgba($color-black, .1);
    }

    &__logo {
        height: 8rem;
    }

}